html {
    scroll-behavior: smooth;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}



/*----------------------- navbar-----------------------  */
.nav {
    color: white;
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.6);
    width: 100vw;
    height: 6vh;
}

.nav > li {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    margin-left: 3rem;
    margin-right: 3rem;
    
}

.nav > li > a {
    text-decoration: none;
    color: #146C94;
    font-size: 1.3rem;
    font-weight: 700;
    transition: 0.3s ease;
}

.nav > li > a:hover {
    color: #AFD3E2;

}

/*-----------------------background-----------------------  */

.background1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white ;
    min-height: 100vh;
    width: 100%;
    margin: 0;
}

.background2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #146C94;
    min-height: 120vh;
    width: 100%;

}

.background3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    min-height: 100vh;
    width: 100%;
}


/*----------------------- home section -----------------------  */


.profile {
    height: 180px;
    width: 150px;
}

.pofilebox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.create {
    color: #AFD3E2;
    font-family: "YACgEbc43jc 0", _fb_, auto;
    letter-spacing: .0.5rem;
    margin-bottom: 7px;
    
}

.lightblue {
    color: #AFD3E2;
    margin: 5px 0 5px 0;
}

div > span {
    letter-spacing: 0.05rem;
}

/*-----------------------skill section-----------------------  */

.skill {
    color: #AFD3E2;
    font-size: 2rem;
    font-family: "YACgEbc43jc 0", _fb_, auto;
    text-align: center;
    padding-top: 50px;
    margin: 0;
}

.skill_title > h2 {
    color: white;
    text-align: center;
    margin-bottom: 0;
    margin-top: 30px;
    font-size: 2rem;
    font-family: "YACgEbc43jc 0", _fb_, auto;
}



.techstack > .gif {
    width: 20rem;
    height: 14rem;
    border-radius: 13px;
}

.skillbox {
    display: flex;
    justify-content: center;
    margin: 60px 60px 80px 30px;
    flex-wrap: wrap;
}

.userex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px 30px 30px 30px ;
    flex-wrap: wrap;
}

.userex > img {
    width: 20rem;
    height: 14rem;
    border-radius: 13px;
}

.skilltextbox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 15px;
    padding-left: 30px;
    line-height: 1.4rem;
    letter-spacing: 0.05rem;
    width: 300px;
}

.techstack {
    display: flex;
    justify-content: center;
    padding: 30px 30px 30px 30px ;
    flex-wrap: wrap;
}

.skilltextbox2 {
    padding-left: 30px;
    margin-top: 25px;
    width: 300px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    letter-spacing: 0.05rem;
    min-width: 100px;
    min-width: 100px;
}

.lightblue {
    color: #AFD3E2;
}

.skilltextbox > br {
    margin-bottom: 0;
}

.getintouch > h2 {
    color: #146C94;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 0;
    font-size: 2rem;
    font-family: "YACgEbc43jc 0", _fb_, auto;
}

/*-----------------------contact section-----------------------  */

.contactbox { /*큰박스*/
    display: flex;
    justify-content: center;
    margin: 60px 60px 80px 30px;
    flex-wrap: wrap;
}

.locationbox { /* location icon from <a target="_blank" href="https://icons8.com/icon/7880/location">Location</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */
    height: 310px;
    width: 310px;
    float: right;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
    border-radius: 13px;
    background-color: #eeeeee;
}

.location_text {
    margin-top: 15px;
    font-weight: 600;

}

.justincasebox { /*글상자*/
    margin-top: 20px;
    width: 350px;
    height: 300px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 100px;
    margin-left: 5px;
}

.schedule_zoom {
    width: 210px;
    height: 45px;
    margin-top: 18px;
    font-weight: 550;
    font-size: 1.1rem;
    font-family: Arial;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: solid 0px;
    color: white;
    border-color: white;
    background-color:#AFD3E2;
    border-radius: 27px;
    cursor: pointer;
    transition: 0.5s ease;
}

.schedule_zoom:hover {
    background-color: #425252;
    color: white;
}

/*-----------------------footer section-----------------------  */


footer {
    background-color: #AFD3E2;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.footerbox {
    height: 100px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.sns > a {
    color: white;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 15px;
}

.copyright {
    color: #146C94;
    font-size: 0.81rem;
    margin-top: 20px;
}



/*-----------------------to the top button-----------------------  */

body {
    position: relative;
  }

  .scroll-container {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 5%;
  }

/* to hide the button when page first loaded */
  .scroll-container:before {
    content: '';
    display: block;
    height: 100vh;
    pointer-events: none;
  }

/* fixed to right bottom of page */
  .scroll-container a {
    position: fixed;
    top: 90.5vh;
    cursor: pointer;

  }

/* <a target="_blank" href="https://icons8.com/icon/8TKzHpM7Meom/collapse-arrow">Top</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a> */

/*--------------- media query (responsive) ---------------  */

@media(max-width:768px) {

    .nav {
        width: 100vw;
        height: 7vh;
    }
    
    .nav > li {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
    }
    
    .nav > li > a {
        text-decoration: none;
        color: #146C94;
        font-size:  1rem;
        font-weight: 700;
    }

    .skillbox {
        margin: 10px 10px 10px 10px;
    }


    .skill_title > h2 {
        color: white;
        text-align: center;
        margin-bottom: 0;
        margin-top: 80px;
        font-size: 2rem;
        font-family: "YACgEbc43jc 0", _fb_, auto;
    }

    .scroll-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 13%;

      }


    .scroll-container a {
        top: 93vh;
        margin-right: 20px;
    }
}


@media screen and (max-width:480px) {
    .scroll-container {
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        width: 13%;
      }


    .scroll-container a {
        top: 93vh;
        margin-right: 20px;
    }

    .nav {
        width: 100vw;
        height: 7vh;
    }
    
    .nav > li {
        margin-left: 0.8rem;
        margin-right: 0.8rem;
        
    }
    
    .nav > li > a {
        text-decoration: none;
        color: #146C94;
        font-size:  1rem;
        font-weight: 700;
    }
    

    .skillbox {
        margin: 10px 10px 10px 10px;
    }

    .skill_title > h2 {
        color: white;
        text-align: center;
        margin-bottom: 0;
        margin-top: 80px;
        font-size: 2rem;
        font-family: "YACgEbc43jc 0", _fb_, auto;
    }


}
/* scroll-container > img
<a target="_blank" href="https://icons8.com/icon/39787/collapse-arrow">Top</a> icon by <a target="_blank" href="https://icons8.com">Icons8</a>
*/